<div class="container base">
    <div class="card table-pad">
        <h5>Enroll Projects</h5>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project of projects">
                <th scope="row">1</th>
                <td>{{project.name}}</td>
                <td>{{project.description}}</td>
                <td><button class="btn btn-primary" (click)="enroll(project)">Get</button></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="card table-pad mt-5" *ngIf="authService.isLogIn">
        <h5>Hello {{authService.name}}, Your Ongoing Projects</h5>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Tracker</th>
                <th scope="col">Time Spent</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project of userErolledProjects">
                <th scope="row">1</th>
                <td>{{project?.projectData?.name}}</td>
                <td>
                    <i class="fa fa-play track-icon" title="Start" (click)="updateProject(project, project.projectId, true)" *ngIf="!project.status"></i>
                    <i class="fa fa-pause track-icon" title="Pause" (click)="updateProject(project, project.projectId, false)" *ngIf="project.status"></i>
                </td>
                <td>{{getSpentTime(project)}}</td>
                <td>
                    <button class="btn btn-success" (click)="getHistory(project, session)">Tracker History</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>

</div>


<ng-template #session>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Sessions</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <div class="holds-the-iframe" *ngIf="trackHistory">
      <b>Total Time Spent:</b> {{getSpentTime(trackHistory)}} <br>
      <ng-container *ngFor="let obj   of trackHistory?.workHistory">
      <b>Date:</b> {{obj.day}}
        <table class="table table-striped">
         <thead>
           <tr>
             <th scope="col">Session Name</th>
             <th scope="col">Start</th>
             <th scope="col">End</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let item of obj.history">
             <td>{{item.sessionName}}</td>
             <td>{{getTime(item.start)}}</td>
             <td>{{getTime(item.end || item.start)}}</td>
           </tr>
         </tbody>
       </table>
       <hr>
      </ng-container>
      
    </div>
    <div class="preview-course-list">
       
    </div>
  </div>
</ng-template>
